*{
    padding: 10px;
    margin: 0;
}

nav ul{
    list-style: none;
    
}
nav {
    margin: 50px;
    border: dotted 1px black;
    text-align: center;
    
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    display: inline-block;
    background-color: beige;
}